<!DOCTYPE html>
<html>
<body>
	<div ng-app="">
	<p>Quantity 1:<input type="number" ng-model="quantityOne"></p>
	<p>Quantity 2:<input type="number" ng-model="quantityTwo"></p>
	<p>The sum is: <span ng-bind="quantityOne + quantityTwo"></span></p>
	<p>The difference is: <span ng-bind="quantityOne - quantityTwo"></span></p>
	<p>The product is: <span ng-bind="quantityOne * quantityTwo"></span></p>
	<p>The quotient is: <span ng-bind="quantityOne / quantityTwo"></span></p>
	</div>

<script src="js/angular.js"></script>

</body>
</html>
